force-app/main/default/flows/Engagement_Update_Lead_LastActivity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>add_call_points</name>
        <label>add call points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Point</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Points_to_Engagement_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_email_points</name>
        <label>add email points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Point</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Points_to_Engagement_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_meeting_points</name>
        <label>add meeting points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Point</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Points_to_Engagement_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_other_points</name>
        <label>add other points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Point</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Points_to_Engagement_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Points_to_Engagement_Score</name>
        <label>Add Points to Engagement Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Lead.Engagement_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>engagementtotalpoints</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Last_Activity_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_webinar_points</name>
        <label>add webinar points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Point</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Points_to_Engagement_Score</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Engagement_Points</name>
        <label>Determine Engagement Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>add_other_points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>other engagement</defaultConnectorLabel>
        <rules>
            <name>Email_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_email_points</targetReference>
            </connector>
            <label>Email Engagement</label>
        </rules>
        <rules>
            <name>Webinar_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>webinar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_webinar_points</targetReference>
            </connector>
            <label>Webinar Engagement</label>
        </rules>
        <rules>
            <name>Call_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_call_points</targetReference>
            </connector>
            <label>Call Engagement</label>
        </rules>
        <rules>
            <name>meeting_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_meeting_points</targetReference>
            </connector>
            <label>meeting Engagement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>engagementtotalpoints</name>
        <dataType>Number</dataType>
        <expression>{!Get_Parent_Lead.Engagement_Score__c}+{!Point}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Engagement_Update_Lead_LastActivity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Engagement_Update_Lead_LastActivity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Lead</name>
        <label>Get Parent Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Engagement_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Last_Activity_Date</name>
        <label>Update Lead Last Activity Date and engagement score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Engagement_Score__c</field>
            <value>
                <elementReference>Get_Parent_Lead.Engagement_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Activity_Date__c</field>
            <value>
                <elementReference>$Record.LastActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Engagement_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Lead__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Lead</targetReference>
        </connector>
        <object>Lead_Engagement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Point</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
