force-app/main/default/flows/Nightly_Lead_Score_Calc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Calculate_Lead_Score</name>
        <label>Calculate Lead Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loop_through_leads.Lead_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_leads</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>LeadScoreFormula</name>
        <dataType>Number</dataType>
        <expression>(0.6 * {!$Record.Engagement_Score__c}) + (0.4 * {!$Record.Interest_Score__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Nightly_Lead_Score_Calc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nightly_Lead_Score_Calc</label>
    <loops>
        <name>loop_through_leads</name>
        <label>loop through leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Unconverted_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Lead_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_Scores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Unconverted_Leads</name>
        <label>Get Unconverted Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Scores</name>
        <label>Update Lead Scores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Lead_Score__c</field>
            <value>
                <elementReference>LeadScoreFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unconverted_Leads</targetReference>
        </connector>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-21</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
